@import url('reset.css');
/* 
 * Variables
 */
html {
    /* Colors */
    --background: #111;
    --panel-background: #222222;
    --subpanel-background: #1a1a1a;
    --accent-color: #EC4646;

    /* Preset */
    --border: var(--accent-color) .1rem solid;
    --white-border: #fff .1rem solid;

    /* Padding */
    --rounding: .7rem;
    --spacing: .7rem;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
    background-color: var(--background);
    position: absolute;
    inset: 0px;
}


/* Custom */

.panel {
    display: block;

    background-color: var(--panel-background);
    border: var(--border);
    border-radius: var(--rounding);
    box-shadow: 0px 3px 4px var(--accent-color);
    padding: var(--spacing);
    margin: var(--spacing);
}

.subpanel {
    display: block;

    background-color: var(--subpanel-background);
    border: var(--border);
    border-radius: var(--rounding);
    box-shadow: 0px 0px 4px var(--accent-color);
    padding: calc(var(--spacing) / 2);
    margin: var(--spacing);
}

vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.icon-space {
    margin-right: calc(var(--spacing) / 2);
}

/* Built-in */

select {
    font-size: large;
}

button, select, input {
    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--border);
    border-radius: var(--rounding);
    padding: calc(var(--spacing) / 2);
    min-width: 4rem;

    color: white;
    background-color: black;
}

button:hover, select:hover {
    filter: invert(.2);
}

button:active, select:active {
    filter: brightness(.8);
}
